{
  "moduleId": "gm-ui-components",
  "presets": ["env", "react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false
      }
    ],
    "transform-class-properties",
    "add-module-exports",
    "transform-object-rest-spread",
    "react-docgen"
  ]
}
